body {
    background: #A0522D;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

.photo{
    border:5px solid #505050;
    border-radius: 20%;

}

#title, .subtitle, .post_title{
    color: #ffffff;
}

#title {
    font-size: 44px;
    text-transform: uppercase;
}

.post_title {
    font-size: 16px;
    margin: 0;
    margin-bottom: 25px;
    color: black;  
}

.post {

    padding: 15px;
    border: 3px solid #000000;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #F5DEB3;
}

.post_content {
    margin: 0;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;
    color: #000000;
    
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
    
}

.list {
    list-style-type: none;
    padding-left: 15px;
    
}

.list li a{
    text-decoration: none;
    color: #ffffff;
}
