body {
    background: #cccccc;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

.photo{
    border:5px solid #505050;
    border-radius: 50%;

}

#title, .subtitle, .post_title{
    color: #000;
}

#title {
    font-size: 44px;
    text-transform: uppercase;
}

a {text-decoration: line-through;
    color: #000000;

}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 25px;
}

.post {
    background: #FFF;
    padding: 15px;
    border: 3px solid #000000;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
}

.list {
    list-style-type: none;
    padding-left: 15px;
}

.list li a{
    text-decoration: none;
}
}